/* HEIGHT */
.ph-height-medium
{
	height: 350px;
}

/* ALBUM */
#newAlbum:hover p {
	color: black !important;
	transition: 0.3s ease-in-out;
	transition-property: color, background-color, border-color;
}
