@media (max-width: 640px)
{
	.ph-nav-button {
		top: 5px;
		left: 5px;
	}
}

/* MARGIN */

@media (max-width: 640px)
{
	.uk-margin-medium {
		margin-bottom: 10px !important;
	}
	.uk-margin-medium-left {
		margin-left: 10px !important;
	} 
	.uk-margin-medium-right {
		margin-right: 10px !important;
	} 
}