@import url('https://fonts.googleapis.com/css?family=Raleway:600');

/* HEADING */
.ph-background-heading h1,
.ph-background-heading h2,
.ph-background-heading h3,
.ph-background-heading h4,
.ph-background-heading h5,
.ph-background-heading h6 {
    color: white;
    font-family: 'Raleway';
    margin-top: 0;
}

.ph-heading-header {
    font-size: 60pt;
    text-shadow: 4px 4px 10px rgba(0, 0, 0, .7);
}
@media (max-width: 960px)
{
    .ph-heading-header {
        font-size: 35pt;
    }
}

/* TEXT */
.ph-text-white {
    color: white;
}

.ph-text-white a {
    color: white !important;
}

/* BUTTON */
.ph-button-white {
    background: white;
    color: black;
}
.ph-button-white:hover {
    background: #eee;
}

.ph-button-white-linked:hover {
    color: black;
}
.ph-button-white-linked:active {
    color: black;
}

/* A */
.ph-a-no-underline:link {
    text-decoration: none;
}

.ph-a-no-underline:visited {
    text-decoration: none;
}

.ph-a-no-underline:hover {
    text-decoration: none;
}

.ph-a-no-underline:active {
    text-decoration: none;
}


/* CARD */
.uk-card {
    box-shadow: 0 8px 19px rgba(0, 0, 0, 0.16);
}

/* NAV */
.ph-nav-button {
    color: white;
    border: 0;
    background: rgba(17,17,17,0.5);
    padding: 10px;
    transition: 0.1s ease-in-out;
    transition-property: color, background-color, border-color;
}

.ph-nav-button:focus {
    outline: none;
    color: white !important;
}

.ph-nav-button:hover {
    background: black;
    color: white !important;
}

.ph-nav-button:not(:disabled) {
    cursor: pointer;
}

/* FOOTER */
.ph-footer {
    background: black;
    color: white;
    font-size: 11pt;
}